#nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 60px;
  z-index: 999;
  opacity: 0;
  transition: all 1s;
}
#nav ul.menu {
  display: none;
  margin-left: 6%;
}
#nav ul.menu a {
  position: relative;
  font-size: 22px;
  color: #ececec;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin: 30px;
  transition: all 0.5s;
}
#nav ul.menu a::before {
  content: " ";
  width: 0px;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-top: 3px solid #529fa9;
  transition: width 0.5s;
}
#nav ul.menu a:hover::before {
  width: 100%;
}
#nav #menuIcon {
  display: block;
  position: absolute;
  top: 13px;
  left: 4%;
  width: 60px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
}
#nav #menuIcon span {
  display: block;
  width: 45px;
  height: 5px;
  background-color: #ececec;
  margin: 20% auto;
  transition: all 0.5s;
}

#work {
  overflow-x: hidden;
  position: relative;
  padding-top: 5%;
}
#work .workStyle1 {
  width: 200vw;
  height: 25vh;
  position: absolute;
  transform: rotateZ(-4deg);
  z-index: 1;
  top: -9%;
  left: -50%;
}
#work h1 {
  font-size: 60px;
  color: #fabc60;
  transition: all 1s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 55%;
  z-index: 2;
}
#work article {
  display: flex;
  justify-content: space-around;
  position: relative;
}
#work article span {
  font-size: 45px;
  color: #2b2b28;
  font-weight: bold;
  display: block;
  margin-bottom: 7%;
  font-family: "Raleway", sans-serif;
  border-left: 4px solid #2b2b28;
  padding-left: 5%;
}
#work article a#viewOnGithub {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #2b2b28;
  font-weight: bold;
  position: absolute;
  bottom: -20%;
  left: 35%;
  font-size: 16px;
  border-bottom: 2px solid #2b2b28;
  transition: all 0.5s;
  cursor: pointer;
}
#work article a#viewOnGithub:hover {
  letter-spacing: 5px;
}
#work article figure img {
  width: 100%;
}
/* ----- Olav ----- */
.olav {
  background-color: #a6e3e9;
  min-height: 85vh;
}
.olav .workStyle1 {
  background-color: #fff;
}

/* ----- E-shop ----- */
.e-shop {
  background-color: #cbf1f5;
  min-height: 85vh;
}
.e-shop .workStyle1 {
  background-color: #a6e3e9;
}

/* ----- Bootstrap ----- */
.Bootstrap {
  background-color: #a6e3e9;
  min-height: 85vh;
}
.Bootstrap .workStyle1 {
  background-color: #cbf1f5;
}

/* ----- budget ----- */
.budget {
  background-color: #cbf1f5;
  height: 100vh;
}
.budget .workStyle1 {
  background-color: #a6e3e9;
}

/* Class */
#work article figure {
  height: 50vh;
  margin: 5% 0 0;
  width: 40%;
  display: flex;
  position: relative;
  transition: transform 0.5s;
  box-shadow: 0px 0px 20px #ccc;
  border-radius: 10px 10px 10px 10px;
  align-self: flex-start;
  z-index: 2;
}

#work article p {
  max-width: 30%;
  font-family: "Abel", sans-serif;
  font-size: 24px;
  transition: transform 1s;
  color: #2b2b28;
  text-align: left;
  z-index: 2;
  align-self: flex-end;
  margin-bottom: 5%;
}

@media (max-width: 768px) {
  #work {
    padding-top: 25%;
  }
  #work h1#workHeading {
    font-size: 35px;
    top: 2%;
    transform: translateX(-55%);
  }
  #work article.guessGame,
#work .e-shop {
    flex-direction: column-reverse;
  }
  #work article.Bootstrap,
#work .olav {
    flex-direction: column;
    margin-bottom: 5%;
  }
  #work article.Bootstrap span,
#work .olav span {
    margin-top: 15%;
  }
  #work article p {
    max-width: 90%;
    font-size: 18px;
  }
  #work article a#viewOnGithub {
    bottom: -25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    padding: 8px;
  }
  #work article span {
    font-size: 25px;
    margin-top: 10%;
  }

  #work article figure {
    margin: 5% auto;
    width: 60%;
    height: 30vh;
  }
}
/*--------Footer-----*/
#footer {
  height: 55vh;
  background-color: #ebebe3;
  display: flex;
  justify-content: space-around;
  transition: all 0.5s;
  position: relative;
  font-family: "Abel", sans-serif;
}
#footer h1 {
  align-self: flex-start;
  color: #2b2b28;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 2px solid #2b2b28;
  margin-top: 5%;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
  z-index: 1;
}
#footer p {
  color: #2b2b28;
  font-size: 18px;
  position: absolute;
  bottom: 0%;
  left: 5%;
}
#footer ul {
  align-self: center;
  padding: 0;
  list-style: none;
}
#footer ul li {
  margin-top: 8px;
}
#footer ul li:first-child {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: bold;
  color: #2b2b28;
}
#footer ul li a {
  text-decoration: none;
  color: #2b2b28;
  font-size: 20px;
  position: relative;
}
#footer ul li a:hover::before {
  width: 100%;
}
#footer ul li a::before {
  content: attr(data-text);
  position: absolute;
  top: -2px;
  left: 0;
  width: 0%;
  overflow: hidden;
  white-space: nowrap;
  color: #2b5c84;
  text-decoration: none;
  transition: width 0.5s;
  border-bottom: 2px solid #2b5c84;
}
#footer .up {
  font-size: 22px;
  color: #2b2b28;
  position: absolute;
  top: 8%;
  right: 2%;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #2b2b28;
  transition: all 0.5s;
  transform-origin: bottom;
}
#footer .up:hover {
  background-color: #2b5c84;
  transform: translatey(-10px);
  color: #ebebe3;
  border-color: #ebebe3;
}
#footer .up i {
  margin-top: 8px;
}

@media (max-width: 768px) {
  #footer {
    padding-top: 5%;
    height: 85vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  #footer ul {
    margin-bottom: 10%;
    padding: 0;
  }
  #footer h1 {
    border: none;
  }
  #footer p {
    margin: 0;
  }
  #footer .up {
    top: 90%;
    right: 5%;
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.intro {
  height: 100vh;
  position: relative;
  background: linear-gradient(#393e46, #d1cdc8, #ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  font-family: "Raleway", sans-serif;
}
.intro div {
  width: 33%;
  height: 75vh;
  background: linear-gradient(#0498ae, #0498ae, #ffffff);
  position: absolute;
  filter: blur(1px);
  transform: scale(0);
  transition: transform 1s 0.5s;
}
.intro div.bg1 {
  top: 0;
  right: 23%;
  opacity: 0.7;
  background: linear-gradient(#0498ae);
}
.intro div.bg2 {
  bottom: 0;
  left: 25%;
  opacity: 0.5;
  height: 75vh;
}
.intro h1 {
  color: #00334e;
  padding-left: 10%;
  font-size: 50px;
  letter-spacing: 2px;
  z-index: 1;
  transform: translateX(-85%);
  transition: transform 1s;
  font-weight: bold;
}
.intro p {
  color: #ececec;
  width: 500px;
  font-size: 30px;
  letter-spacing: 2px;
  border-bottom: 2px solid #ececec;
  padding-left: 10%;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 6%;
  z-index: 1;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 1s 1s;
}
.intro a {
  width: 25px;
  height: 40px;
  margin-left: 15%;
  margin-top: 6%;
  border: 2px solid #00334e;
  border-radius: 25px;
  overflow: hidden;
  z-index: 1;
  opacity: 0;
  transition: all 1s 1s;
}
.intro a span {
  display: block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #00334e;
  margin: -20px auto;
  animation: scrollDown 1.3s ease-in-out 3s infinite;
}

.about {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 10%;
}
.about main {
  line-height: 32px;
  letter-spacing: 1px;
}
.about main h1 {
  font-size: 60px;
  color: #fabc60;
  margin-bottom: 8%;
  transition: all 1s;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
.about main p {
  font-size: 24px;
  color: #00334e;
  width: 60%;
  opacity: 0;
  transition: opacity 1s 0.4s;
  font-family: "Abel", sans-serif;
}
.about main .boldParagraph {
  font-size: 30px;
  margin-bottom: 6%;
}
.about main .my-cv {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  color: #00334e;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #00334e;
  transition: all 0.5s;
  cursor: pointer;
}
.about main .my-cv:hover {
  letter-spacing: 5px;
}
.about figure {
  transform: translateX(130%);
  transition: all 1s;
}
.about figure img {
  width: 100%;
  height: 100%;
  border-radius: 40px 0 40px 0;
  box-shadow: 0 0 15px #ccc;
}

.learning {
  margin: 5% auto;
  padding: 5%;
  background-image: url("../Image/learninf-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  font-family: "Abel", sans-serif;
}
.learning .learning-bg {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.learning main {
  width: 65%;
  height: 420px;
  margin: auto;
  background-color: #efecec;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px #36343442;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.learning main p {
  letter-spacing: 1px;
  font-weight: bold;
  color: #5c5757;
}
.learning main p .web {
  font-weight: bold;
  color: #f5564e;
}
.learning main p .everyday {
  display: none;
}
.learning main ul {
  list-style: none;
  margin-top: -35px;
  margin-left: -20px;
  animation: everyday 3s ease-in-out infinite both;
}
.learning main ul li {
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: #5c5757;
  letter-spacing: 4px;
}
.learning main img {
  width: 170px;
  position: absolute;
  bottom: -3%;
  left: 10%;
  opacity: 0.9;
}

.skills {
  overflow: hidden;
  padding: 5%;
  position: relative;
}
.skills main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8%;
  margin-bottom: 3%;
}
.skills main figure {
  width: 20%;
  margin: 0;
}
.skills p {
  width: 40%;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 1px;
  color: #00334e;
  padding: 35px;
  font-family: "Abel", sans-serif;
}
.skills img {
  width: 100%;
}
.skills aside {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
}
.skills figure {
  width: 23%;
  margin: 0;
}

.planning {
  margin-bottom: 5%;
  overflow: hidden;
}
.planning h1 {
  font-size: 40px;
  color: #fabc60;
  margin: 5% 0 0;
  padding-left: 10%;
  padding-bottom: 1%;
  width: 380px;
  white-space: nowrap;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border-bottom: 4px solid #fabc60;
  opacity: 0;
  transition: all 1s;
}
.planning main {
  display: flex;
  height: 80vh;
  justify-content: space-around;
  text-align: center;
}
.planning main article {
  width: 18%;
  padding: 1%;
  align-self: center;
  box-shadow: 0 0 5px #ccc;
  opacity: 0;
  transition: all 1s;
}
.planning main article i {
  font-size: 70px;
  padding: 10%;
  color: #2b2b28;
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(60px);
  }
}
@keyframes everyday {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(85px);
  }
  50% {
    transform: translateY(85px);
  }
  75% {
    transform: translateY(170px);
  }
  100% {
    transform: translateY(170px);
  }
}
@media (max-width: 768px) {
  #nav {
    justify-content: center;
  }
  #nav ul.menu {
    margin: 0;
  }

  div.bg1,
div.bg2 {
    display: none;
  }

  .intro h1 {
    font-size: 35px;
  }

  p#introParagraph {
    font-size: 18px;
    width: 270px;
    white-space: normal;
  }

  .intro a {
    font-size: 15px;
  }

  .about {
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: 5%;
  }
  .about figure {
    width: 70%;
    margin: 0;
  }
  .about main {
    margin: 5% auto;
    text-align: center;
  }
  .about main h1 {
    font-size: 40px;
  }
  .about main p {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
  }
  .about main p.boldParagraph {
    font-size: 20px;
    line-height: 27px;
  }

  .learning {
    text-align: center;
  }
  .learning main {
    width: 100%;
  }
  .learning main ul {
    display: none;
  }
  .learning main img#imgLearn {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
  }
  .learning main span.everyday {
    display: block !important;
  }
  .learning aside p {
    width: 90%;
  }

  .skills main {
    flex-direction: column;
    margin: auto;
  }
  .skills main p {
    width: 100%;
    text-align: center;
  }
  .skills main figure {
    width: 50%;
  }
  .skills aside {
    flex-direction: column-reverse;
    margin: auto;
  }
  .skills aside p {
    width: 100%;
    text-align: center;
  }
  .skills aside figure {
    width: 50%;
  }

  .planning h1 {
    font-size: 28px;
    width: 270px;
    border-bottom: 2px solid #fabc60;
    margin-bottom: 8%;
  }
  .planning main {
    flex-direction: column;
    height: auto;
  }
  .planning main article {
    width: 250px;
    padding: 5%;
  }
  .planning main article i {
    font-size: 85px;
  }
  .planning main article#code,
.planning main article#project,
.planning main article#react {
    margin-bottom: 32%;
  }
  .planning main article#square,
.planning main article#fileCode,
.planning main article#nodeJs {
    margin-top: 32%;
  }
}

/*# sourceMappingURL=style.css.map */
